.container {
  height: calc(50vh - 20px);
  background-color:#AF5825;
  display: flex;
}

.item {
  flex: 1;
  position: relative;
  display: flex;
}
.item2 {
  width: 365px;
  margin-top: 10px;

  position: relative;
  height: 122%;
}
.item:last-child {
  flex: 2;
  padding: 50px;
  justify-content: space-between;
}

.card {
  flex: 1;
  padding: 0 20px;
  position: relative;
}

.title {
  font-size: 18px;
  color: white;
}

.text {
  color: lightgray;
}

.motto {
  color: rgb(211, 211, 211);
}

@media screen and (max-width: 480px) {
  .container {
    height: auto;
    text-align: center;
  }
  .item:first-child {
    display: none;
  }

  .item {
    flex-direction: column;
  }

  .title {
    font-size: 30px;
  }

  .text {
    font-size: 20px;
  }
}
